.header-overlay {
  position: absolute;
  top: 0;
  z-index: -1;
  width: 100%;
  opacity: 0.5;
  height: 125%;
  background: rgb(77, 164, 91);
  background-image: linear-gradient(
    45deg,
    rgb(147, 255, 194),
    rgb(0, 251, 113)
  );
  background: linear-gradient(
    270deg,
    #1b4922,
    rgb(54, 125, 62) 33%,
    rgba(121, 191, 142, 1) 62%,
    rgba(154, 211, 174, 1) 100%
  );
  clip-path: polygon(
    100% 0%,
    0% 0%,
    0% 86%,
    2% 85.93%,
    4% 85.73%,
    6% 85.4%,
    8% 84.94%,
    10% 84.37%,
    12% 83.71%,
    14% 82.96%,
    16% 82.14%,
    18% 81.27%,
    20% 80.38%,
    22% 79.47%,
    24% 78.58%,
    26% 77.72%,
    28% 76.91%,
    30% 76.18%,
    32% 75.52%,
    34% 74.97%,
    36% 74.54%,
    38% 74.23%,
    40% 74.05%,
    42% 74%,
    44% 74.09%,
    46% 74.32%,
    48% 74.67%,
    50% 75.15%,
    52% 75.73%,
    54% 76.41%,
    56% 77.18%,
    58% 78%,
    60% 78.88%,
    62% 79.77%,
    64% 80.68%,
    66% 81.57%,
    68% 82.42%,
    70% 83.21%,
    72% 83.94%,
    74% 84.57%,
    76% 85.11%,
    78% 85.52%,
    80% 85.81%,
    82% 85.97%,
    84% 85.99%,
    86% 85.88%,
    88% 85.63%,
    90% 85.26%,
    92% 84.76%,
    94% 84.16%,
    96% 83.47%,
    98% 82.69%,
    100% 81.85%
  );
}
.header-overlay-2 {
  position: absolute;
  top: 0;
  z-index: -2;
  width: 100%;
  opacity: 0.8;
  height: 110%;
  background: rgb(77, 164, 91);
  background: linear-gradient(
    270deg,
    #317a3c,
    rgb(44, 112, 52) 33%,
    rgba(121, 191, 142, 1) 62%,
    rgba(154, 211, 174, 1) 100%
  );
  clip-path: polygon(
    100% 0%,
    0% 0%,
    0% 90%,
    2% 89.25%,
    4% 88.51%,
    6% 87.79%,
    8% 87.11%,
    10% 86.47%,
    12% 85.89%,
    14% 85.38%,
    16% 84.93%,
    18% 84.57%,
    20% 84.29%,
    22% 84.11%,
    24% 84.01%,
    26% 84.01%,
    28% 84.11%,
    30% 84.29%,
    32% 84.57%,
    34% 84.93%,
    36% 85.38%,
    38% 85.89%,
    40% 86.47%,
    42% 87.11%,
    44% 87.79%,
    46% 88.51%,
    48% 89.25%,
    50% 90%,
    52% 90.75%,
    54% 91.49%,
    56% 92.21%,
    58% 92.89%,
    60% 93.53%,
    62% 94.11%,
    64% 94.62%,
    66% 95.07%,
    68% 95.43%,
    70% 95.71%,
    72% 95.89%,
    74% 95.99%,
    76% 95.99%,
    78% 95.89%,
    80% 95.71%,
    82% 95.43%,
    84% 95.07%,
    86% 94.62%,
    88% 94.11%,
    90% 93.53%,
    92% 92.89%,
    94% 92.21%,
    96% 91.49%,
    98% 90.75%,
    100% 90%
  );
}

.footer-overlay {
  position: absolute;
  bottom: 0;
  z-index: -2;
  width: 100%;
  opacity: 0.5;
  height: 150%;
  background: rgb(77, 164, 91);
  background: linear-gradient(
    270deg,
    #4fa55c,
    rgba(85, 167, 94, 1) 33%,
    rgba(121, 191, 142, 1) 62%,
    rgba(154, 211, 174, 1) 100%
  );
  clip-path: polygon(
    100% 100%,
    0% 100%,
    0% 25%,
    2% 23.16%,
    4% 21.36%,
    6% 19.63%,
    8% 18%,
    10% 16.5%,
    12% 15.17%,
    14% 14.02%,
    16% 13.08%,
    18% 12.37%,
    20% 11.9%,
    22% 11.68%,
    24% 11.72%,
    26% 12.01%,
    28% 12.54%,
    30% 13.32%,
    32% 14.31%,
    34% 15.51%,
    36% 16.89%,
    38% 18.43%,
    40% 20.09%,
    42% 21.85%,
    44% 23.66%,
    46% 25.5%,
    48% 27.33%,
    50% 29.12%,
    52% 30.83%,
    54% 32.43%,
    56% 33.88%,
    58% 35.17%,
    60% 36.26%,
    62% 37.13%,
    64% 37.78%,
    66% 38.18%,
    68% 38.33%,
    70% 38.23%,
    72% 37.87%,
    74% 37.27%,
    76% 36.43%,
    78% 35.38%,
    80% 34.13%,
    82% 32.7%,
    84% 31.13%,
    86% 29.44%,
    88% 27.66%,
    90% 25.84%,
    92% 24%,
    94% 22.17%,
    96% 20.4%,
    98% 18.72%,
    100% 17.16%
  );
}
.footer-overlay-2 {
  position: absolute;
  bottom: 0;
  z-index: -1;
  width: 100%;
  opacity: 1;
  height: 150%;
  background: rgb(77, 164, 91);
  background: linear-gradient(
    270deg,
    #4fa55c,
    rgba(85, 167, 94, 1) 33%,
    rgba(121, 191, 142, 1) 62%,
    rgba(154, 211, 174, 1) 100%
  );
  clip-path: polygon(
    100% 100%,
    0% 100%,
    0% 18.33%,
    2% 20.77%,
    4% 23.38%,
    6% 26.06%,
    8% 28.69%,
    10% 31.18%,
    12% 33.41%,
    14% 35.31%,
    16% 36.79%,
    18% 37.8%,
    20% 38.29%,
    22% 38.24%,
    24% 37.66%,
    26% 36.57%,
    28% 35.02%,
    30% 33.06%,
    32% 30.78%,
    34% 28.26%,
    36% 25.61%,
    38% 22.94%,
    40% 20.35%,
    42% 17.95%,
    44% 15.83%,
    46% 14.08%,
    48% 12.77%,
    50% 11.96%,
    52% 11.67%,
    54% 11.91%,
    56% 12.69%,
    58% 13.96%,
    60% 15.67%,
    62% 17.76%,
    64% 20.14%,
    66% 22.72%,
    68% 25.39%,
    70% 28.04%,
    72% 30.58%,
    74% 32.88%,
    76% 34.87%,
    78% 36.46%,
    80% 37.59%,
    82% 38.21%,
    84% 38.3%,
    86% 37.86%,
    88% 36.89%,
    90% 35.45%,
    92% 33.58%,
    94% 31.37%,
    96% 28.91%,
    98% 26.28%,
    100% 23.61%
  );
}
